<%- include('./partials/header')  %> 

<div class="row">
    <div class="col">
        <div class="jumbo azul5">
            <h1>Consumindo Rest API com Node</h1>
            <p class="lead">Aqui veremos como consumir uma Rest API com node</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="jumbo azul3 text-black">
            <div class="motivos d-flex">
                <section class="me-3">
                    <header class="d-flex justify-content-center">
                        <div class="circulo mb-2">
                            <span class="mb-2">Fácil</span>
                            <i class="fas fa-graduation-cap fa-2x"></i>
                        </div>
                    </header>
                    <article>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut possimus beatae quam totam voluptates
                    </article>
                </section>
                <section class="me-3">
                    <header class="d-flex justify-content-center">
                        <div class="circulo mb-2">
                            <span class="mb-2">Rápido</span>
                            <i class="fas fa-fighter-jet fa-2x"></i>
                        </div>
                    </header>
                    <article>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut possimus beatae quam totam voluptates
                    </article>
                </section>
                <section class="me-3">
                    <header class="d-flex justify-content-center">
                        <div class="circulo mb-2">
                            <span class="mb-2">Seguro</span>
                            <i class="fas fa-shield-alt fa-2x"></i>
                        </div>
                    </header>
                    <article>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut possimus beatae quam totam voluptates
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="jumbo azul1 py-5">
            <h5>Wellington Rogerio</h5>
            &copy; todos os direitos reservados
        </div>
    </div>
</div>

<%- include('./partials/footer')  %> 